:root {
  --bg: #000000;
  --fg: #ffffff;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  font-family: Consolas, monospace;
}

/* WICHTIG: das fixiert dein Zentrieren */
#landing, #game {
  width: 100%;
  height: 100%;
}

#landing {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Game NICHT centern! */
#game {
  display: none;
  padding: 20px;
}

/* TERMINAL */
#terminal {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* BUTTON */
#enter-btn {
  font-size: 120px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

#enter-btn.clicked {
  color: #8b0000;
  text-shadow:
    0 0 5px rgba(139,0,0,0.9),
    0 0 10px rgba(139,0,0,0.8),
    0 0 20px rgba(139,0,0,0.6),
    0 0 40px rgba(139,0,0,0.4);
}

/* VERSION */
#version {
  position: fixed;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 14px;
}

/* DROPDOWN */
#dropdown {
  position: fixed;
  top: 35px;
  right: 15px;
  background: #111;
  border: 1px solid #333;
  padding: 10px;
  min-width: 140px;
}

.drop-item {
  padding: 3px 0;
  font-size: 13px;
}

.red {
  color: #8b0000;
}

.hidden {
  display: none;
}
